html body{
    background-color: black;
    margin: 0;
}
/*Style Declaration for the Header part*/
header{
    color: white;
    padding-left: 30px;
    display: flex;
    h1{
        font-family: 'Bacasime Antique', serif;
        font-family: 'Bilbo Swash Caps', cursive;
        font-family: 'Elsie Swash Caps', serif;
    }
    nav{
        font-family: 'Bacasime Antique', serif;
        padding-left: 63%;
        display: flex;
        h2{
            display: flex;
            padding-left: 30px;
        }
    }
}
main{
    background-color: white;
}
/*Style Declaration for the Main Content part*/
main .Container{
    display: flex;
}
main .Container .Product_image img{
    flex: 2;
    margin-left: 20px;
    margin-top: 20px;
}
/*Style Declaration for the Footer Part*/
footer{
    color: white;
    background-color: rgb(23, 41, 24);
    display: flex;
    justify-content: space-around;
    section{
        h4{
            font-family: 'Elsie Swash Caps', serif;
            font-family: 'Playfair Display', serif;
            font-size: 36px;
        }
        p{
            font-family: 'Playfair Display', serif;
            font-size: 15px;
        }
    }
}
footer .Subscription{
    input{
    background-color: var(--colorFooter);
    border: 0;
    border-bottom: 2px solid;
    border-bottom-color: rgb(0, 255, 17);
    color: var(--colorFooterText);
    width: 80%;
    text-align: center;
    padding: 5px 5px 5px 5px;
    font-size: 30px;
    font-family: 'Dancing Script', cursive;
    }
    i:hover{
        cursor: pointer;
    }
}
.CR{
    text-align: center;
    color: rgb(143, 143, 143);
    font-size: 15px;
    margin: 0;
    background-color: rgb(23, 41, 24);
}